body {
  font-family: HelveticaNeue,Gill Sans,Helvetica,sans-serif;
  background-color: #FAFAFA;
}


/* Lolomo */
.lolomo .lomo {
  margin-bottom: 20px;
}

.lolomo .movies {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 3px;
}

.lolomo .title {
  color: #818488;
  font-size: 25px;
  margin: 5px 0px;
}

.lolomo .movie {
  width: 166.7px;
	height: 250px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  display: inline-block;
  margin-right: 10px;
}
